:root {
  font-family: 
  line-height: 
  font-weight: 

  color-scheme: 
  color: 
  background-color: 

  font-synthesis:
  text-rendering: 
  -webkit-font-smoothing:
  -moz-osx-font-smoothing: 
}

a {
  font-weight: 
  color: 
  text-decoration: inherit;
}
a:hover {
  color: 

body {
  margin: 0;
  display: 
  place-items: 
  min-width: 
  min-height: 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}




