



:root {
  font-family: 
  line-height: 
  font-weight: 

  color-scheme: 
  color: 
  background-color: 

  font-synthesis:
  text-rendering: 
  -webkit-font-smoothing:
  -moz-osx-font-smoothing: 
}


body {
  margin: 0;
  
 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}




